.home-container {
    padding: 20px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.home-img {
    height: 50%;
    width: auto;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;

    padding: 20px;
    background-color: var(--bg);
    box-shadow: var(--shadow);
}

body header{
    background-color: var(--bg-dark);
}

.section {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #00000000;
}

main .section-header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-image: url("parabolic.svg");
    background-repeat: no-repeat;          
    background-size: cover;               
    background-position: center;   
}

.section.presentation {
    padding-top: 80px;
    /* background-color: var(--bg-dark); */
}
/* .section.projects { */
    /* background-color: var(--bg);
    background-image: url("layers.svg");
    background-repeat: no-repeat;          
    background-size: cover;               
    background-position: center;  */
/* } */
.section.about {
    background-color: var(--bg);
    padding-bottom: 40px;
}
.section.techs {
    background-color: var(--bg);
    gap: 20px;
    background-color: var(--bg);
    background-image: url("layers.svg");
    background-repeat: no-repeat;          
    background-size: cover;               
    background-position: center; 
}
.section.contact {
    background-color: var(--bg-dark);
    padding-bottom: 70px;
}

.section.presentation img {
    width: 280px;
    height: 280px;
    border-radius: 100%;
    border: 10px solid var(--border);
}
.section.presentation .text-container {
    background-color: var(--bg-light);
    border-radius: 100px;
    padding: 10px 15px;
    gap: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.section.presentation .title {
    font-size: 40px;
    padding: 0;
    text-align: center;
    font-weight: 600;
    color: var(--text-highlight);
}
body .section .text-hl {
    color: var(--text-highlight2);
}
.section.presentation .sub-title {
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    text-align: center;
}

.section .title {
    font-size: 25px;
    font-weight: 500;
    padding: 10px;
    color: var(--text-main);
}
.section iframe {
    width: 80vw;
    height: 80vh;
    border-radius: 20px;
    border: none;
}

main .section.about .description{
    font-weight: 400;
    width: clamp(300px,60vw,1000px);
}


.section.techs .stacks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: clamp(10px, 1vw, 20px);
}
.section.techs .stack {
    display: flex;
    gap: clamp(10px, 3vw, 40px);
}
.tech-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-light);
    border-radius: 100px;
}
.tech {
    display: flex;
    background-color: var(--bg-light);
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: clamp(50px, 10vw,75px);
    height: clamp(50px, 10vw, 75px);
    box-shadow: var(--shadow);
}
.tech img {
    width: 40px;
    fill: white;
    filter: invert(20%) sepia(100%) saturate(7000%) hue-rotate(200deg) brightness(90%) contrast(90%);
}
.dark .tech-container img {
    filter: invert(100%) sepia(100%) saturate(7000%) hue-rotate(160deg) brightness(80%) contrast(90%);
}
.tech-container p {
    font-size: 12px;
    padding: 20px;
    padding-left: 0px;
    border-radius: 0 50px 50px 0;
    font-weight: 700;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.socials {
    display: flex;
    flex-direction: row;
    gap: 20px;
}   
.social-container {
    display: flex;
    background-color: var(--bg-light);
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: clamp(50px, 10vw,75px);
    height: clamp(50px, 10vw, 75px);
    /* border: 2px solid var(--text-main); */
    border-radius: 100%;
    box-shadow: var(--shadow);
    flex-direction: row;
}
.social-container img {
    width: 100%;
    height: 100%;
    fill: white;
    filter: invert(20%) sepia(100%) saturate(7000%) hue-rotate(200deg) brightness(90%) contrast(90%);
    padding: clamp(1px,0.2vw,5px);
}
.dark .social-container img {
    filter: invert(100%) sepia(100%) saturate(7000%) hue-rotate(160deg) brightness(80%) contrast(90%);
}
.social-container:hover{
    background-color: hsl(209, 86%, 36%);
}
.social-container:hover img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(200deg) brightness(90%) contrast(90%);
    transition: background-color 0.2s ease-in-out;
}
.card .social-container {
    width: 45px;
    height: 45px;
    margin: 0;
    margin-left: 20px;
}


.cards {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);; 
    justify-items: center;
}

.reveal {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
