
@media (max-width: 1000px) {

    header h1 {
        font-size: 18px;
    }
    header .logo{
        width: 35px;
        height: 35px;
    }

    .section .tech-container p {
        display: none;
    }

    
    .section .cards {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 10px;
    }
    /* .cards .project {
        flex-direction: column;
    }
    .cards .project img {
        width: 100%;
    } */

    .section .cards{
        gap: 20px;
    }
    .section .card-container {
        height: clamp(350px, 55vw, 480px);
    }

}

@media (max-width: 500px) {
    main .section .card-container {
        height: clamp(200px, 45vh, 300px);
    }
    main .section .card-description .card-text {
        font-size: 11px;
    }
}